<div class="login">
  <div class="align-middle-box">
    <div class="inner">
      <img src="/images/logo.png" class="page-logo" />
      <h1 class="align-center">Login</h1>
      
      <div class="box">

        <form class="" role="form" action="/auth/local" method="post">
          <input type="hidden" name="_csrf" value="<%= _csrf %>" />
          <div class="form-group">
            <label for="inputEmail" class="control-label">Email</label>
            <input type="email" class="form-control" id="inputEmail" name="identifier" placeholder="Username">
          </div>

          <div class="form-group">
            <a class="pull-right text-small" href="/login/forgot">Forgot?</a>
            <label for="inputPassword3" class="control-label">Password</label>
            <input type="password" class="form-control" id="inputPassword3" name="password" placeholder="Password">
          </div>

          <div class="form-group">
              <button type="submit" class="btn btn-submit">Sign in</button>
          </div>
        </form>

        <a href="/register">Need an account?</a>

      </div>
    </div>
  </div>
</div>