<div class="login">
    <div class="align-middle-box">
        <div class="inner">
            <img src="/images/logo.png" class="page-logo" />
            <h1 class="align-center">Great, almost there!</h1>
            
            <div class="box">
                <form role="form" action="/auth/local/register" method="post">
                    <input type="hidden" name="_csrf" value="<%= _csrf %>" />
                    
                    <div class="form-group">
                        <label for="firstName" class="control-label">Your first name</label>
                        <input type="text" class="form-control" id="firstName" name="firstName" placeholder="First Name" value="">
                    </div>

                    <div class="form-group">
                        <label for="lastName" class="control-label">Your last name</label>
                        <input type="text" class="form-control" id="lastName" name="lastLame" placeholder="Last Name" value="">
                    </div>

                    <div class="form-group">
                        <label for="email" class="control-label">Email</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="Email" value="">
                    </div>

                    <div class="form-group">
                        <label for="password" class="control-label">Password</label>
                        <input type="password" class="form-control" id="password" name="password" placeholder="Password" value="">
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-submit btn-primary">Let's get started</button>
                    </div>
                </form>
                
            </div>
        </div>
    </div>
</div>