<section class="campaigns" ui-view>
	
	<header>
		<h1 class="pull-left">Campaigns</h1>
		<a href="/campaigns/new" class="btn btn-primary pull-right">New Campaign</a>
	</header>

	<ul class="campaign-list">
		<li class="box" ng-repeat="campaign in campaigns">
			<span class="title">{{campaign.title}}</span>
			<span class="url">{{campaign.url}}</span>

			<a href="/campaigns/{{campaign.id}}" class="btn btn-default btn-sm pull-right">See details</a>
			<img class="sparkline pull-right" src="http://chart.googleapis.com/chart?cht=ls&chs=100x20&chdlp=r&chco=3399CC&chd=e%3AAAVwmZsyzMplmZtbsy.." />
		</li>	
	</ul>

</section>